* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #12bbb3, #18a0be, #1979ce);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.container {
    background-color: rgb(22, 172, 165);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(red, green, blue, alpha);
    text-align: center;
    width: 300px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-size: 14 px;
    color: #00363a;
}

p {
    font-size: 14px;
    color: #00363a;
    margin-bottom: 20px;
}

.links a {
    display: block;
    background-color: #00bcd4;
    color: #00363a;;
    text-decoration: none;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #008ba3;
}